# ===== MySQL Config =====
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DB=mydb

# ===== Postgres Config =====
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=ps_db

# ===== Airflow Config =====
AIRFLOW_ADMIN_USERNAME=user
AIRFLOW_ADMIN_PASSWORD=password
AIRFLOW_ADMIN_FIRSTNAME=John
AIRFLOW_ADMIN_LASTNAME=Doe
AIRFLOW_ADMIN_EMAIL=email@example.com

# ===== CSV Config =====
CSV_FILE_PATH=/opt/airflow/data/data.csv
TABLE_NAME=table_name